

  .city-btn {
    background-color: #3492a0;
    color: white;
    border: none;
    padding: 8px 13px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .city-btn:hover {
    background-color: #287080;
    transform: scale(1.05);
  }

  .city-btn:focus {
    outline: none;
  }

  @media (max-width: 480px) {
    .city-btn {
      width: 100%;
    }
  }



  .suggestions-container {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 500px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.suggestion-item {
  padding: 8px 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}


